{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
{% block body %}

    <img src="{% static 'images/logo.png' %}" style="width: 200px; display: block; margin: 0 auto;"/>

    {% if messages %}
        <div id="messages">
            <strong>Messages:</strong>
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div id="menu">
        <strong>Menu:</strong>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
                <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
            {% else %}
                <li><a href="{% url 'account_login' %}">Sign In</a></li>
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </div>

    <div id="content" style="text-align: center;">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
{% block extra_body %}
{% endblock %}
</body>
</html>